<% if current_user %>

  <% @paginated_contacts.each do |contact| %>
    <div class="contact">

      <% if !contact[:name].empty? %>
        <span><%= contact[:name] %></span>
        <span><%= contact[:email] %></span>
        <span><%= contact[:phone] %></span>
      <% else %>
        <span><%= contact[:email] %></span>
        <span><%= contact[:phone] %></span>
      <% end %>

    </div>
  <% end %>

  <%= will_paginate @paginated_contacts %>

<% end %>
